<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="../public/css/login.css">
    <script src="frontend_login.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="tp">
        <div class="container">
            <div class="row">
                <div class="logo">
                    <a href="#"><img src="../public/images/logodemo.jpg" alt="Photo"></a>
                </div>
                <div class="listmember">
                    <ul>
                        <li class="listmem"><a href="#">Trang chủ</a></li>
                        <li class="listmem"><a href="#">About</a></li>
                        <li class="listmem"><a href="#">Menu</a></li>
                        <li class="listmem"><a href="#">Oder</a></li>
                        <li class="listmem"><a href="#">Liên hệ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="form_login">
        <form action="action_page.php" method="post">
            <div class="conteiner">
                <h1>Đăng nhập</h1>
                <p>Xin hãy nhập biểu mẫu bên dưới để đăng nhập.</p>
                <hr>

                <label for="Username"><b>Email</b></label>
                <input type="text" placeholder="Nhập Email" name="uname" required>

                <label for="password"><b>Mật khẩu</b></label>
                <input type="password" placeholder="Nhập Mật khẩu" name="psw" required>
                
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Nhớ đăng nhập
                </label>
                <button class="login" type="submit">Đăng nhập</button>
                <div class="forgotpw">
                    <a href="">Quên mật khẩu?</a>
                </div>
            </div>
            <hr>
            <div>
                <a href="register.html"><button type="button" class="sign_up">Đăng ký tài khoản mới</button></a>
            </div>
        </form>
    </div>
</body>

</html>