<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-
        DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script&family=Raleway:ital@1&family=Zen+Antique+Soft&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="pos_css.css">
</head>

<body>
    <div id="wrapper">
        <div class="wrap container">
            <div class="row row_1">
                <div class="col-xl-9 col-md-9 product">
                    <div class="container list_product">
                        <div class="row">
                            <div class="col-xl-12 header">
                                <a href="index.html"><img src="/POS-SYSTEM/image/dish.png" alt=""
                                        style="float: left;"></a>
                                <div class="thuongHieu">Buy Me</div>
                            </div>
                            <div class="col-md-12 category-head">
                                <nav>
                                    <div class="category-title active" id="all">
                                        <a>All</a>
                                        <span><i class="fas fa-border-all"></i></span>
                                    </div>
                                    <div class="category-title" id="food">
                                        <a>Foods</a>
                                        <span><i class="fas fa-theater-masks"></i></span>
                                    </div>
                                    <div class="category-title" id="coldrink">
                                        <a>Cold Drinks</a>
                                        <span><i class="fas fa-landmark"></i></span>
                                    </div>
                                    <div class="category-title" id="hotdrink">
                                        <a>Hot Drinks</a>
                                        <span><i class="fas fa-chart-area"></i></span>
                                    </div>
                                    <div class="category-title" id="other">
                                        <a>Other</a>
                                        <span><i class="fas fa-coins"></i></span>
                                    </div>
                                </nav>
                            </div>
                        </div>
                        <div class="row danh_muc">
                            <div class="col-xl-3 col-sm-6 col-6 all other" onclick="show_chi_tiet(0);">
                                <div class="bg_sp">
                                    <div class="title cc">Other 1</div>
                                    <div class="weight">150g</div>
                                    <div class="dish">
                                        <div class="price">$1.75</div>
                                        <img src="/POS-SYSTEM/image/dish_2.jpg" alt="" class="thumbnail">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-6 all food" onclick="show_chi_tiet(1);">
                                <div class="bg_sp">
                                    <div class="title">Food 1</div>
                                    <div class="weight">150g</div>
                                    <div class="dish">
                                        <div class="price">$1.75</div>
                                        <img src="/POS-SYSTEM/image/dish_1.jpg" alt="" class="thumbnail">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-6 all food" onclick="show_chi_tiet(2);">
                                <div class="bg_sp">
                                    <div class="title">Food 2</div>
                                    <div class="weight">150g</div>
                                    <div class="dish">
                                        <div class="price">$1.75</div>
                                        <img src="/POS-SYSTEM/image/dish_4.jpg" alt="" class="thumbnail">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-6 all food" onclick="show_chi_tiet(3);">
                                <div class="bg_sp">
                                    <div class="title">Food 3</div>
                                    <div class="weight">150g</div>
                                    <div class="dish">
                                        <div class="price">$1.75</div>
                                        <img src="/POS-SYSTEM/image/dish_4.jpg" alt="" class="thumbnail">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-6 all hotdrink" onclick="show_chi_tiet(4);">
                                <div class="bg_sp">
                                    <div class="title">Hotdrink 1</div>
                                    <div class="weight">150g</div>
                                    <div class="dish">
                                        <div class="price">$1.75</div>
                                        <img src="/POS-SYSTEM/image/drink_2.jpg" alt="" class="thumbnail">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-6 all other" onclick="show_chi_tiet(5);">
                                <div class="bg_sp">
                                    <div class="title">Other 2</div>
                                    <div class="weight">150g</div>
                                    <div class="dish">
                                        <div class="price">$1.75</div>
                                        <img src="/POS-SYSTEM/image/dish_2.jpg" alt="" class="thumbnail">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-6 all coldrink" onclick="show_chi_tiet(6);">
                                <div class="bg_sp">
                                    <div class="title">Coldrink 1</div>
                                    <div class="weight">150g</div>
                                    <div class="dish">
                                        <div class="price">$1.75</div>
                                        <img src="/POS-SYSTEM/image/drink_2.jpg" alt="" class="thumbnail">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-6 all food" onclick="show_chi_tiet(7);">
                                <div class="bg_sp">
                                    <div class="title">Food 4</div>
                                    <div class="weight">150g</div>
                                    <div class="dish">
                                        <div class="price">$1.75</div>
                                        <img src="/POS-SYSTEM/image/dish_4.jpg" alt="" class="thumbnail">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-6 all coldrink" onclick="show_chi_tiet(8);">
                                <div class="bg_sp">
                                    <div class="title">Coldrink 2</div>
                                    <div class="weight">150g</div>
                                    <div class="dish">
                                        <div class="price">$1.75</div>
                                        <img src="/POS-SYSTEM/image/drink_3.jpg" alt="" class="thumbnail">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-6 all hotdrink" onclick="show_chi_tiet(9);">
                                <div class="bg_sp">
                                    <div class="title">Hotdrink 2</div>
                                    <div class="weight">150g</div>
                                    <div class="dish">
                                        <div class="price">$1.75</div>
                                        <img src="/POS-SYSTEM/image/drink_2.jpg" alt="" class="thumbnail">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-6 all coldrink" onclick="show_chi_tiet(10);">
                                <div class="bg_sp">
                                    <div class="title">Coldrink 3</div>
                                    <div class="weight">150g</div>
                                    <div class="dish">
                                        <div class="price">$1.75</div>
                                        <img src="/POS-SYSTEM/image/drink_1.jpg" alt="" class="thumbnail">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-6 all coldrink" onclick="show_chi_tiet(11);">
                                <div class="bg_sp">
                                    <div class="title">Coldrink 4</div>
                                    <div class="weight">150g</div>
                                    <div class="dish">
                                        <div class="price">$1.75</div>
                                        <img src="/POS-SYSTEM/image/drink_2.jpg" alt="" class="thumbnail">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-6 all food" onclick="show_chi_tiet(12);">
                                <div class="bg_sp">
                                    <div class="title">Food 5</div>
                                    <div class="weight">150g</div>
                                    <div class="dish">
                                        <div class="price">$1.75</div>
                                        <img src="/POS-SYSTEM/image/dish_1.jpg" alt="" class="thumbnail">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-6 all food" onclick="show_chi_tiet(13);">
                                <div class="bg_sp">
                                    <div class="title">Food 6</div>
                                    <div class="weight">150g</div>
                                    <div class="dish">
                                        <div class="price">$1.75</div>
                                        <img src="/POS-SYSTEM/image/dish_2.jpg" alt="" class="thumbnail">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-6 all other" onclick="show_chi_tiet(14);">
                                <div class="bg_sp">
                                    <div class="title">Other 3</div>
                                    <div class="weight">150g</div>
                                    <div class="dish">
                                        <div class="price">$1.75</div>
                                        <img src="/POS-SYSTEM/image/dish_3.jpg" alt="" class="thumbnail">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-6 all other" onclick="show_chi_tiet(15);">
                                <div class="bg_sp">
                                    <div class="title">Other 4</div>
                                    <div class="weight">150g</div>
                                    <div class="dish">
                                        <div class="price">$1.75</div>
                                        <img src="/POS-SYSTEM/image/dish_4.jpg" alt="" class="thumbnail">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-6 all other" onclick="show_chi_tiet(16);">
                                <div class="bg_sp">
                                    <div class="title">Other 1</div>
                                    <div class="weight">150g</div>
                                    <div class="dish">
                                        <div class="price">$1.75</div>
                                        <img src="/POS-SYSTEM/image/dish_2.jpg" alt="" class="thumbnail">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-6 all food" onclick="show_chi_tiet(17);">
                                <div class="bg_sp">
                                    <div class="title">Food 1</div>
                                    <div class="weight">150g</div>
                                    <div class="dish">
                                        <div class="price">$1.75</div>
                                        <img src="/POS-SYSTEM/image/dish_1.jpg" alt="" class="thumbnail">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-6 all food" onclick="show_chi_tiet(18);">
                                <div class="bg_sp">
                                    <div class="title">Food 2</div>
                                    <div class="weight">150g</div>
                                    <div class="dish">
                                        <div class="price">$1.75</div>
                                        <img src="/POS-SYSTEM/image/dish_4.jpg" alt="" class="thumbnail">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-6 all food" onclick="show_chi_tiet(19);">
                                <div class="bg_sp">
                                    <div class="title">Food 3</div>
                                    <div class="weight">150g</div>
                                    <div class="dish">
                                        <div class="price">$1.75</div>
                                        <img src="/POS-SYSTEM/image/dish_4.jpg" alt="" class="thumbnail">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-6 all hotdrink" onclick="show_chi_tiet(20);">
                                <div class="bg_sp">
                                    <div class="title">Hotdrink 1</div>
                                    <div class="weight">150g</div>
                                    <div class="dish">
                                        <div class="price">$1.75</div>
                                        <img src="/POS-SYSTEM/image/drink_2.jpg" alt="" class="thumbnail">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-6 all other" onclick="show_chi_tiet(21);">
                                <div class="bg_sp">
                                    <div class="title">Other 2</div>
                                    <div class="weight">150g</div>
                                    <div class="dish">
                                        <div class="price">$1.75</div>
                                        <img src="/POS-SYSTEM/image/dish_2.jpg" alt="" class="thumbnail">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-6 all coldrink" onclick="show_chi_tiet(22);">
                                <div class="bg_sp">
                                    <div class="title">Coldrink 1</div>
                                    <div class="weight">150g</div>
                                    <div class="dish">
                                        <div class="price">$1.75</div>
                                        <img src="/POS-SYSTEM/image/drink_2.jpg" alt="" class="thumbnail">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-6 all food" onclick="show_chi_tiet(23);">
                                <div class="bg_sp">
                                    <div class="title">Food 4</div>
                                    <div class="weight">150g</div>
                                    <div class="dish">
                                        <div class="price">$1.75</div>
                                        <img src="/POS-SYSTEM/image/dish_4.jpg" alt="" class="thumbnail">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-6 all coldrink" onclick="show_chi_tiet(24);">
                                <div class="bg_sp">
                                    <div class="title">Coldrink 2</div>
                                    <div class="weight">150g</div>
                                    <div class="dish">
                                        <div class="price">$1.75</div>
                                        <img src="/POS-SYSTEM/image/drink_3.jpg" alt="" class="thumbnail">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-6 all hotdrink" onclick="show_chi_tiet(25);">
                                <div class="bg_sp">
                                    <div class="title">Hotdrink 2</div>
                                    <div class="weight">150g</div>
                                    <div class="dish">
                                        <div class="price">$1.75</div>
                                        <img src="/POS-SYSTEM/image/drink_2.jpg" alt="" class="thumbnail">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-6 all coldrink" onclick="show_chi_tiet(26);">
                                <div class="bg_sp">
                                    <div class="title">Coldrink 3</div>
                                    <div class="weight">150g</div>
                                    <div class="dish">
                                        <div class="price">$1.75</div>
                                        <img src="/POS-SYSTEM/image/drink_1.jpg" alt="" class="thumbnail">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-6 all coldrink" onclick="show_chi_tiet(27);">
                                <div class="bg_sp">
                                    <div class="title">Coldrink 4</div>
                                    <div class="weight">150g</div>
                                    <div class="dish">
                                        <div class="price">$1.75</div>
                                        <img src="/POS-SYSTEM/image/drink_2.jpg" alt="" class="thumbnail">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-6 all food" onclick="show_chi_tiet(28);">
                                <div class="bg_sp">
                                    <div class="title">Food 5</div>
                                    <div class="weight">150g</div>
                                    <div class="dish">
                                        <div class="price">$1.75</div>
                                        <img src="/POS-SYSTEM/image/dish_1.jpg" alt="" class="thumbnail">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-6 all food" onclick="show_chi_tiet(29);">
                                <div class="bg_sp">
                                    <div class="title">Food 6</div>
                                    <div class="weight">150g</div>
                                    <div class="dish">
                                        <div class="price">$1.75</div>
                                        <img src="/POS-SYSTEM/image/dish_2.jpg" alt="" class="thumbnail">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-6 all other" onclick="show_chi_tiet(30);">
                                <div class="bg_sp">
                                    <div class="title">Other 3</div>
                                    <div class="weight">150g</div>
                                    <div class="dish">
                                        <div class="price">$1.75</div>
                                        <img src="/POS-SYSTEM/image/dish_3.jpg" alt="" class="thumbnail">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-6 all other" onclick="show_chi_tiet(31);">
                                <div class="bg_sp">
                                    <div class="title">Chả cá chiên giòn</div>
                                    <div class="weight">150g</div>
                                    <div class="dish">
                                        <div class="price">$1.75</div>
                                        <img src="/POS-SYSTEM/image/dish_4.jpg" alt="" class="thumbnail">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="chi_tiet">
                            <table>
                                <tr>
                                    <td></td>
                                    <td class="close"><a onclick="close_chi_tiet();">x</a></td>
                                </tr>
                                <tr>
                                    <td rowspan="4"><img src="" alt="" class="chi_tiet_img"></td>
                                    <td>
                                        <div class="chi_tiet_title"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="chi_tiet_weight"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="chi_tiet_price"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="number" class="chi_tiet_sl" value="1">
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><button id="add_cart" type='button'>Add To Cart</button></td>
                                </tr>
                            </table>
                        </div>
                        <div class="row nv_thungan">
                            <div class="col-xl-12">
                                <img src="/POS-SYSTEM/image/avatar.png" alt=""> Nguyễn Văn A
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 cart">
                    <div class="container list_cart">
                        <div class="row current_order">
                            <div class="col-xl-12">
                                Current Order
                            </div>
                        </div>
                        <div class="row bg_sum">
                            <div class="col-xl-9">Sum:</div>
                            <div class="col-xl-3 sum">1</div>
                            <div class="col-xl-9">Discount:</div>
                            <div class="col-xl-3 discount">0</div>
                            <hr>
                            <div class="col xl-9 final_sum">
                                Tổng tiền
                            </div>
                            <div class="col-xl-3 final_money"></div>
                        </div>
                        <div class="row wrap_pay">
                            <div class="pre_pay">
                                <button class="pay">Thanh toán</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const categoryTitle = document.querySelectorAll('.category-title');
        const allCategoryPosts = document.querySelectorAll('.all');

        for (let i = 0; i < categoryTitle.length; i++) {
            categoryTitle[i].addEventListener('click', filterPosts.bind(this, categoryTitle[i]));
        }

        function filterPosts(item) {
            changeActivePosition(item);
            for (let i = 0; i < allCategoryPosts.length; i++) {
                if (allCategoryPosts[i].classList.contains(item.attributes.id.value)) {
                    allCategoryPosts[i].style.display = "block";
                } else {
                    allCategoryPosts[i].style.display = "none";
                }
            }
        }

        function changeActivePosition(activeItem) {
            for (let i = 0; i < categoryTitle.length; i++) {
                categoryTitle[i].classList.remove('active');
            }
            activeItem.classList.add('active');
        };

        function close_chi_tiet() {
            document.getElementById("chi_tiet").style.display = "none";
        }

        function show_chi_tiet(index) {
            var title = document.querySelectorAll(".all .title");
            var chi_tiet_title = document.getElementsByClassName("chi_tiet_title");
            chi_tiet_title[0].innerHTML = title[index].innerHTML;
            var weight = document.querySelectorAll(".all .weight");
            var chi_tiet_weight = document.getElementsByClassName("chi_tiet_weight");
            chi_tiet_weight[0].innerHTML = weight[index].innerHTML;
            var price = document.querySelectorAll(".all .price");
            var chi_tiet_price = document.getElementsByClassName("chi_tiet_price");
            chi_tiet_price[0].innerHTML = price[index].innerHTML;
            var hinh_anh = document.querySelectorAll(".all .thumbnail");
            var chi_tiet_img = document.getElementsByClassName("chi_tiet_img");
            chi_tiet_img[0].src = hinh_anh[index].getAttribute("src");
            document.getElementById("chi_tiet").style.display = "unset";
        }

        var add_cart = document.getElementById("add_cart");
        add_cart.addEventListener("click", function () {
            var img = document.querySelectorAll("#chi_tiet .chi_tiet_img")[0].getAttribute("src");
            var title = document.querySelectorAll("#chi_tiet .chi_tiet_title")[0].innerHTML;
            var price = parseFloat(document.querySelectorAll("#chi_tiet .chi_tiet_price")[0].innerHTML.slice(1));
            var sl = document.querySelectorAll("#chi_tiet .chi_tiet_sl")[0].value;
            //var cart_title = document.getElementsByClassName("cart_title");
            var flag = true;
            /* for (var i = 0; i < cart_title.length; i++) {
                if (title == cart_title[i].innerHTML) {
                    alert("Sản phẩm đã có trong giỏ hàng");
                    flag = false;
                }
            }
            if (flag)  */
            add_item_cart(img, title, price, sl);
            //if(cart_title.length == 0) add_item_cart(img, title, price);
        })

        function updateTongTien() {
            var item_price = document.getElementsByClassName('cart_price');
            var total = 0.0;
            for (var i = 0; i < item_price.length; i++) {
                total += parseFloat(item_price[i].innerHTML.slice(1));
            }

            var final_sum = document.getElementsByClassName('final_money')[0];
            final_sum.innerHTML = "$" + total;
            var final_sum = document.getElementsByClassName('sum')[0];
            final_sum.innerHTML = "$" + total;
        }

        function add_item_cart(img, title, price, sl) {
            var current_order = document.getElementsByClassName("current_order")[0];
            var cart_row = document.createElement("div");
            var div_img = document.createElement("div");
            var pre_div_title = document.createElement("div");
            var pre_div_price = document.createElement("div");
            var input_sl = document.createElement("div");
            var add_img = document.createElement("img");
            var add_title = document.createElement("div");
            var add_price = document.createElement("div");
            var add_button = document.createElement("input");
            cart_row.classList.add("cart_row");
            cart_row.classList.add("col-xl-12");
            div_img.classList.add("div_img");
            pre_div_title.classList.add("pre_div_title");
            pre_div_price.classList.add("pre_div_price");
            input_sl.innerHTML = sl;
            input_sl.classList.add("sl");
            add_img.classList.add("cart_img");
            add_img.src = img;
            add_title.classList.add("cart_title");
            add_title.innerHTML = title;
            add_price.classList.add("cart_price");
            add_price.innerHTML = "$" + price * sl;
            add_button.type = "button";
            add_button.classList.add("add_button");
            add_button.value = "Xóa";
            div_img.appendChild(add_img);
            pre_div_title.appendChild(add_title);
            pre_div_price.appendChild(add_price);
            cart_row.appendChild(div_img);
            cart_row.appendChild(pre_div_title);
            cart_row.appendChild(input_sl);
            cart_row.appendChild(pre_div_price);
            cart_row.appendChild(add_button);
            current_order.appendChild(cart_row);
            var remove_cart = document.getElementsByClassName('add_button');
            var item_price = document.getElementsByClassName('cart_price');
            var total = 0.0;
            for (var i = 0; i < item_price.length; i++) {
                total += parseFloat(item_price[i].innerHTML.slice(1));
            }

            var final_sum = document.getElementsByClassName('final_money')[0];
            final_sum.innerHTML = "$" + total;
            var final_sum = document.getElementsByClassName('sum')[0];
            final_sum.innerHTML = "$" + total;

            for (var i = 0; i < remove_cart.length; i++) {
                var button = remove_cart[i]
                button.addEventListener("click", function () {
                    var button_remove = event.target
                    button_remove.parentElement.remove()
                    updateTongTien()
                })
            }

            
            /* var input_so_luong = document.getElementsByClassName("sl");
            var pre_sl = [];
            var pre_cost = [];
            for (var j = 0; j < input_so_luong.length; j++) {
                var so_luong = input_so_luong[j];
                so_luong.addEventListener('input', function () {
                    if (so_luong.value < pre_sl) {
                        var x = pre_cost - (pre_cost / pre_sl);
                        so_luong.parentElement.getElementsByClassName("cart_price")[0].innerHTML =
                            "$" + x;
                    }
                    else if (so_luong.value != 1) {
                        so_luong.parentElement.getElementsByClassName("cart_price")[0].innerHTML =
                            "$" + so_luong.value / (so_luong.value - 1) * parseFloat(so_luong.parentElement.getElementsByClassName("cart_price")[0].innerHTML.slice(1));
                    }//var cart_price = input_so_luong[j].parentElement.getElementsByClassName("cart_price")[0];
                    //cart_price.innerHTML = "cc";
                    pre_sl[j] = input_so_luong[j].value;
                    pre_cost[j] = parseFloat(input_so_luong[j].parentElement.getElementsByClassName("cart_price")[0].innerHTML.slice(1));
                    //cart_price.innerHTML = input_so_luong[j].value * parseInt(cart_price.innerHTML.slice(1));
                });
            } */
        }
    </script>
</body>

</html>