body {
    background-image: linear-gradient(to bottom, #FFFCA8, pink);
}

#wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
}

.wrap {
    margin: auto;
    height: fit-content;
    padding: 10px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    background-color: white;
    border-radius: 20px;
}

.row_1 {
    height: 100%;
}

.header {
    margin: 10px 0 0 0;
}

.header img {
    width: 70px;
    height: 100%;
}

.header .thuongHieu {
    font-size: 40px;
    color: red;
    text-align: center;
    text-shadow: 10px 5px 5px #FFD700;
    font-family: 'Lobster', cursive;
    margin-left: 10px;
    float: left;
    width: fit-content;
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
}

.product {
    border-right: thin solid #eee;
}

.product .row .category-head {
    height: fit-content;
    padding: 20px 0;
    width: 100%;
    text-align: center;
}

nav {
    width: fit-content;
    height: fit-content;
}

nav>div {
    border: thin solid #eee;
    border-radius: 10px;
    width: fit-content;
    margin: 0 5px;
    height: fit-content;
    padding: 7px 20px;
    float: left;
    transition: 0.5s;
}

nav>div:hover {
    cursor: pointer;
}

.active {
    background-color: red;
    color: white;
}

.danh_muc {
    width: 100%;
    height: 350px;
    overflow-y: scroll;
    margin: 15px 0;
}

.all {
    height: fit-content;
    padding: 5px 5px;
}

.all:hover {
    cursor: pointer;
}

.bg_sp {
    clear: both;
    padding: 15px 3px;
    width: 100%;
    margin: auto;
    height: 100%;
    border: thin solid #eee;
    border-radius: 10px;
    background-color: white;
}

.title {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lobster', cursive;
}

.weight {
    font-size: 15px;
    color: rgb(202, 202, 202);
}

.dish {
    color: orange;
    font-weight: bold;
    height: fit-content;
}

.dish>div {
    height: fit-content;
    float: left;
    width: calc(100% - 115px);
    padding-right: 30px;
}

.bg_sp img {
    width: 100px;
    height: 65px;
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.nv_thungan {
    padding: 7px 0;
    border-radius: 10px;
    border: thin solid black;
    box-shadow: 1px 1px 3px 2px rgb(212, 212, 212);
}

.nv_thungan button {
    background-color: red;
    color: white;
    border-radius: 10px;
    margin-left: 5px;
}

.wrap {
    padding: 10px;
}

.current_order>div:first-child {
    font-family: 'Lobster', cursive;
    font-weight: bold;
    color: red;
    font-size: 19px;
}

.current_order {
    height: fit-content;
    max-height: 370px;
    overflow-y: scroll;
}

.row_1 {
    width: 100%;
    margin: auto;
}

.chi_tiet_img {
    width: 230px;
    height: auto;
    margin: auto;
    object-fit: cover;
}

.product {
    padding: 0;
    padding-right: 10px;
}

.list_product {
    position: relative;
}

#chi_tiet a {
    cursor: pointer;
}

#chi_tiet {
    display: none;
    position: absolute;
    width: fit-content;
    padding: 20px;
    border-radius: 20px;
    height: fit-content;
    background-color: white;
    box-shadow: 1px 1px 10px 1px black;
    top: 60px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

#chi_tiet button {
    border-radius: 15px;
    background-color: red;
    color: white;
}

#chi_tiet .close {
    width: 100%;
    color: red;
    font-weight: bold;
    font-size: 20px;
    text-align: right;
}

.cart {
    padding: 0;
}

.cart_row {
    box-shadow: 1px 1px 3px 1px #eee;
    padding: 5px;
    margin: 4px 0 4px 5px;
    height: fit-content;
}

.cart_row>div {
    float: left;
}

.pre_div_title {
    position: relative;
    width: 90px;
    height: 30px;
}

.cart_row .pre_div_price {
    color: red;
    font-size: 13px;
    font-weight: bold;
    width: 40px;
    height: 30px;
    margin-left: 10px;
    position: relative;
}

.div_img {
    height: 30px;
    width: fit-content;
}

.cart_img {
    border-radius: 5px;
    width: 40px;
    height: 30px;
    float: left;
    margin-right: 5px;
}

.cart_title {
    height: fit-content;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.chi_tiet_sl {
    width: 60px;
    border: thin solid #eee;
    border-radius: 10px;
}

.sl {
    width: 25px;
    margin-top: 2px;
    text-align: center;
    border: thin solid #eee;
    border-radius: 15px;

}

.cart_price {
    position: absolute;
    width: fit-content;
    height: fit-content;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.add_button {
    background-color: red;
    color: white;
    border-radius: 5px;
    margin-top: 3px;
    border: none;
    float: right;
    transition: 0.4s;
}

.add_button:hover {
    background-color: indianred;
}

.bg_sum {
    background-color: white;
    box-shadow: 3px 3px 10px 3px #eee;
    border-radius: 20px;
    height: fit-content;
    padding: 15px;
}

.sum, .discount, .final_money {
    text-align: right;
}

.final_sum, .final_money {
    border-top: thin solid #eee;
    color: red;
    font-family: 'lobster', cursive;
    font-weight: bold;
    font-size: 19px;
}

.wrap_pay {
    position: relative;
    width: 100%;
    height: 30px;
    margin-left: 8px;
    margin-top: 25px;
}

.pre_pay {
    position: absolute;
    width: 100%;
    height: fit-content;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.pay {
    width: 100%;
    background-color: yellow;
    color: red;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
}