<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký</title>
    <link rel="stylesheet" href="../public/css/register.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script&family=Raleway:ital@1&family=Zen+Antique+Soft&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>

<body>
    <img src="../public/image/banner_1.jpg" alt="" class="bg_body">
    <div class="wrap">
        <div id="header">
            <div class="bg_header"></div>
            <div class="container">
                <div class="row div_1">
                    <div class="col-xl-3 col-lg-3 col-md-12">
                        <a href="index.html"><img src="../public/image/dish.png" alt="" style="float: left;"></a>
                        <div class="thuongHieu">Buy Me</div>
                    </div>
                    <div class="col-xl-9 col-lg-9 inform">
                        <div>
                            <img src="../public/image/address.png" alt="">
                            123A MyStreet <br>
                            MyCity, VietNam
                        </div>
                        <div>
                            <img src="../public/image/open.png" alt="">
                            Mon-Fri: 8h30 - 20h30 <br>
                            Sat-Sun: 8h00 - 17h30
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    <main>
        <form action="">
            <div class="container">
                <h1>Form Đăng Ký</h1>
                <p>Xin hãy nhập biểu mẫu bên dưới để đăng ký.</p>
                <hr>

                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Nhập Email" name="email" required>
                <div class="nameuser">
                    <div class="fnameuser">
                        <label for="fn"><b>Họ</b></label>
                        <input type="text" placeholder="Nhập Họ" name="fn" required>
                    </div>
                    <div class="lnameuser">
                        <label for="ln"><b>Tên</b></label>
                        <input type="text" placeholder="Nhập Tên" name="ln" required>
                    </div>
                </div>

                <label for="psw"><b>Mật Khẩu</b></label>
                <input type="password" placeholder="Nhập Mật Khẩu" name="psw" required>

                <label for="psw-repeat"><b>Nhập Lại Mật Khẩu</b></label>
                <input type="password" placeholder="Nhập Lại Mật Khẩu" name="psw-repeat" required>

                <label for="address"><b>Địa Chỉ</b></label>
                <input type="text" placeholder="Nhập Địa Chỉ" name="address" required>

                <label for="address"><b>Số Điện Thoại</b></label>
                <input type="text" placeholder="Nhập Số Điện Thoại" name="phonenumber" required>

                <label>
                    <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Nhớ Đăng Nhập
                </label>

                <div class="clearfix">
                    <button type="submit" class="signupbtn">Đăng ký</button>
                </div>
            </div>
        </form>
    </main>
    <div id="contact">
        <div class="footer">
            &copy; Copyright 2021 <span>BUY ME</span>
            <3 </div>
        </div>
    </div>

</body>

</html>