body {
  position: relative;
}

.bg_body {
  position: fixed;
  width: 100%;
  height: 100vh;
}


/* Header */
#header {
  z-index: 1001;
  height: fit-content;
  position: relative;
  padding: 15px 0;
  width: 100%;
  background-color: red;
}

.bg_header {
  background-color: white;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

#header .row>div {
  width: 100%;
  margin: 15px 0;
}

#header .row>div:first-child {
  margin-top: 5px;
  height: 70px;
}

.div_1 img {
  width: 70px;
  height: 100%;
}

#header .thuongHieu {
  font-size: 40px;
  color: red;
  text-align: center;
  text-shadow: 10px 5px 5px #FFD700;
  font-family: 'Lobster', cursive;
  margin-left: 10px;
  float: left;
  width: fit-content;
  transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
}

.inform>div {
  height: 100%;
  float: right;
  width: 300px;
  padding: 0 15px;
}

.inform img {
  margin-right: 10px;
  width: 40px;
  height: auto;
  object-fit: cover;
  float: left;
}
/* End header */


.form_login {
  padding: 20px 0;
  position: relative;
}

.form_login ul {
  list-style: none;
}

.form_login a {
  text-decoration: none;
}

.form_login .tp {
  background-color: #FEFBDF;
}

.form_login .container {
  margin: auto;
  width: 60%;
}

.form_login .container {
  padding: 16px;
}

.form_login .row {
  display: flex;
  flex-wrap: wrap;

}

.form_login .row .logo img {
  width: 80px;
  display: inline-block;
}

.form_login .listmember {
  display: inline-block;
  width: 80%;
  transition: 0.5s ease;
}

.form_login .listmem {
  display: inline-block;
  margin: 2px 20px;
  padding: 10px 30px;
  color: white;
  font-weight: 700;
  font-size: large;
}

.form_login form {
  border: 3px solid #f1f1f1;
  padding: 10px 10px 20px 10px;
  border-radius: 20px;
  width: 50%;
  margin: 50px auto;
  background-color: #FEFBDF;
}

.form_login h1,
label {
  color: DodgerBlue;
}

/* Full-width inputs */
.form_login input[type=text],
input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  resize: vertical;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Set a style for all buttons */
.form_login button {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.form_login .login {
  background-color: #4CAF50;
  float: left;
  width: 100%;
  border-radius: 15px;
  border: 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  font-size: large;
}

/* Add a hover effect for buttons */
.form_login button:hover {
  opacity: 1;
}

.form_login .forgotpw {
  padding: 15px 10px;
  display: flex;
  justify-content: center;
  font-size: small;
}

.form_login hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
  height: 2px;
}

.form_login .sign_up {
  text-decoration: none;
  background-color: #3871B9;
  border-radius: 15px;
  border: 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  width: 50%;
  display: block;
  opacity: 0.9;
}
/* Contact */

#contact {
  background-color: red;
  height: fit-content;
  padding: 35px 0;
  position: relative;
}

#contact .footer {
  font-size: 18px;
  color: white;
  text-align: center;
  width: fit-content;
  margin: auto;
}

#contact span {
  font-weight: bold;
}

@media only screen and (max-width: 998px) {
  .form_login form {
    width: 70%;
  }
}

@media only screen and (max-width: 776.5px) {
  .form_login form {
    width: 90%;
  }
}