.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu__header {
    margin-top: 50px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu__search {
    margin-top: 50px;
    max-width: 800px ;
    width: 100%;
}

.form-control {
    border-radius: 10px;
}

.menu-image {
    width: 35px;
    margin-right: 10px;
}


.menu__options {
    margin-top: 50px;
    max-width: 800px;
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.option {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 10px;
    cursor: pointer;
}

.option-image-block {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.option-image {
    width: 50px;
}

.menu__listing {
    width: 100%;
    margin-bottom: 50px;
}

.item-card {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
}

.item-image {
    width: 100%;
    border-radius: 5px;
}

.item-info {
    padding-top: 12px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 106px;
}

.item-name {
    font-size: 16px;
    font-weight: 600;
}

.item-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 32px;
}

.item-footer p {
    margin: 0;
}

.item-button {
    width: 32px;
    height: 32px;
    background-color: #fa8c16;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.item-butotn-image {
    width: 16px;
    height: 16px;
}