body
{
    background:#f2f2f2;
}

.payment
{
    border:1px solid #f2f2f2;
    height:500px;
    width: 400px;
    border-radius:20px;
    text-align: center;
    background:#fff;
}
.payment_header
{
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    padding:20px;
    border-radius:20px 20px 0px 0px;
}

.check
{
    margin:0px auto;
    width:50px;
    height:50px;
    border-radius:100%;
    background:#fff;
    text-align:center;
}

.check i
{
    vertical-align:middle;
    line-height:50px;
    font-size:30px;
}

.content 
{
    text-align:center;
}

.content  h1
{
    font-size:25px;
    padding-top:25px;
}

.content a
{
    width:200px;
    height:50px;
    color:#fff;
    border-radius:30px;
    padding:5px 10px;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    transition:all ease-in-out 0.3s;
}

.content a:hover
{
    text-decoration:none;
    background:#000;
}

.content p {
    font-size: 22px;
}
